<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type = "text/javascript">
$(document).ready(function(){
	$('.alert').alert();
})

</script>
<title>Password Change </title>
</head>
<body>
<div class="container">

    <div class="row" style="margin-left:200px; margin-top:70px;">
        <div class="col-xs-8 col-sm-8 col-md-8　">
            <form method="get" name="update" action="/Save">
                <fieldset>
                	<div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 offset-xs-9 offset-sm-3 offset-md-3">	
                    		<h3>パスワード変更</h3>
                    	</div>
                    </div>

                    <div th:if="${successful}">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            	パスワード変更しました！
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button> 	
                        </div>
                    </div>
                    
                    <div th:if="${notsamenewpassword}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                           	「 新パスワード」　と　「新パスワード（確認用）」が一致しません！
                           	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button>
                        </div>
                    </div>
                    <div th:if="${notsameoldpassword}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                          	「 現在パスワード 」が間違っています！
                          	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							</button>                    
                        </div>
                    </div>
                    
                    <div class="form-group row">
                    	<label for="Currentpassword" class="col-sm-5 col-form-label">現在パスワード</label>
	                    <div class="col-sm-7">
	                        <input type="password" name="Currentpassword" id="currentpassword" class="form-control input-lg"
	                               placeholder="現在パスワード " required autofocus="autofocus"/>
	                     </div>          
                    </div>

                    <div class="form-group row">
                    	<label for="newpassword" class="col-sm-5 col-form-label">新パスワード</label>
                    	<div class="col-sm-7">
	                        <input type="password" name="newpassword" id="newpassword" class="form-control input-lg"
	                               placeholder="新パスワード" required autofocus="autofocus"/>
                        </div>       
                    </div>
                    <div class="form-group row">
                    	<label for="confirmpassword" class="col-sm-5 col-form-label">新パスワード（確認用）</label>
                    	<div class="col-sm-7">
	                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control input-lg"
	                               placeholder="新パスワード（確認用）" required/>
                         </div>      
                    </div>
                    
					<div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 offset-xs-3 offset-sm-3 offset-md-3">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Save"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

</body>
</html>